# Ignore node_modules directory
node_modules/

# Ignore .env file (contains sensitive information)
.env

# Ignore logs
*.log

# Ignore build files
dist/
build/

# Ignore Docker-related files
docker-compose.override.yml

# Ignore MacOS-specific files
.DS_Store

# Ignore Windows-specific files
Thumbs.db
